################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CPProgressTracker/.vs/CPProgressTracker
/CPProgressTracker/CPProgressTracker/bin/Debug/net6.0
/CPProgressTracker/CPProgressTracker/obj
