################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CPProgressTracker/.vs/CPProgressTracker
/CPProgressTracker/CPProgressTracker/bin/Debug/net6.0
/CPProgressTracker/CPProgressTracker/obj
/CPProgressTracker/.vs/ProjectEvaluation
/CPProgressTracker/CP.Data/bin/Debug/net6.0
/CPProgressTracker/CP.Data/obj
/CPProgressTracker/CP.Services/bin/Debug/net6.0
/CPProgressTracker/CP.Services/obj
/CPProgressTracker/CP.Core/bin/Debug/net6.0
/CPProgressTracker/CP.Core/obj
